<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <script src="https://kit.fontawesome.com/b6e9b903ac.js" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <header>
        <nav>
            <h1>Blog Project</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/post">Create Blog</a></li>
            </ul>
        </nav>
    </header>

    <script src="/scripts/post-blog.js"></script>
    <script src="/scripts/content-option.js"></script>
</body>
</html>